body{
    margin: 5%;
    padding: 5%;
    font-family: 'EB Garamond', serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Poppins', sans-serif; 
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex; 
}
.half-width{
    width: 80%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
    padding-right: 10;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.second-section{
    text-align: center;
    margin-top: 50px;
}
.mission{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
    background-color: rgb(182, 142, 180);
}
.div-img img{
    width: 80%;
}
.vission{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
    background-color: rgb(235, 156, 195);
}
.div-img img{
    width: 80%;
}
.goals{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
    background-color: rgb(235, 160, 160);
}
.div-img img{
    width: 80%;
}
.my-mission{
    display: flex;
    padding-left: 10%;
}
section{
    display: flex;
    margin: 150px;
}
section{
    display: flex;
    margin: 150px;
}
